<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension
         point="org.eclipse.rap.ui.themes">
      <theme
            file="theme/theme.css"
            id="com.eclipsesource.app.rap.theme"
            name="Test Theme">
      </theme>
   </extension>
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            defaultEntrypointId="app"
            id="com.eclipsesource.app.rap.branding"
            servletName="ds"
            themeId="com.eclipsesource.app.rap.theme">
      </branding>
   </extension>
</plugin>
